.header {

    position: absolute;
    width: 90rem;
    height: 4.5rem;
    left: 0px;
    top: 0px;

    background: var(--Rectangle-4234);

    div {

        position: absolute;
        width: 11.875rem;
        height: 2.5rem;
        left: 39.0625rem;
        top: 1rem;

        background: var(--logo);
        border-radius: 0.5rem;

    }

    img {
        position: absolute;
        width: 9.375rem;
        height: 1.73875rem;
        left: 40.3125rem;
        top: 1.375rem;




    }
}