.Components_Botao {


    p {

        position: absolute;
        width: 49.4375rem;
        height: 4.75rem;
        left: 20.3125rem;
        top: 10.5rem;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2.375rem;
        /* or 38px */

        text-align: center;

        color: var(--white);
    }

    div {

        position: absolute;
        width: 8.3125rem;
        height: 3.1875rem;
        left: 29.375rem;
        top: 36.3125rem;

        background: var(--Rectangle-4234);
        border-radius: 0.5rem;
    }

    div:hover {
        background-color: var(--dark);
        transition-duration: 0.2s;
    }

    h1 {

        position: absolute;
        width: 5.0625rem;
        height: 1.625rem;
        left: 31.875rem;
        top: 37rem;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.625rem;

        color: var(--white);

    }

    img {

        position: absolute;
        width: 1.25rem;
        height: 1.25rem;
        left: 30.125rem;
        top: 37.3220rem;
    }
}

.Components_Botao2 {
    div {

        position: absolute;
        width: 8.3125rem;
        height: 3.1875rem;
        left: 40.8125rem;
        top: 36.3125rem;

        background: var(--Rectangle-4234);
        border-radius: 0.5rem;


    }

    div:hover {
        background-color: var(--dark);
        transition-duration: 0.2s;
    }

    h1 {

        position: absolute;
        width: 2.9375rem;
        height: 1.625rem;
        left: 44.375rem;
        top: 37rem;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.625rem;


        color: var(--white2);


    }

    img {

        position: absolute;
        width: 1.25rem;
        height: 1.25rem;
        left: 42.625rem;
        top: 37.3220rem;



    }
}

.Components_Botao3 {
    
    div{
        position: absolute;
        width: 8.3125rem;
        height: 3.1875rem;
        left: 52.25rem;
        top: 36.3125rem;

        background: var(--Rectangle-4234);
        border-radius: 0.5rem;

    }

    div:hover {
        background-color: var(--dark);
        transition-duration: 0.2s;
    }

    h1{

        position: absolute;
        width: 4.5rem;
        height: 1.625rem;
        left: 55.0625rem;
        top: 37rem;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.625rem;


        color: var(--white2);

    }

    img {

        position: absolute;
        width: 1.25rem;
        height: 1.25rem;
        left: 53.3125rem;
        top: 37.3220rem;




    }

}