
<div  class="Components_Botao">

<p class="Traduzir">{{traducao}}</p>

 <button class="pt" (click)="portugues()"></button>
 <h1 class="h1_pt">Portugues</h1>
 <img class="img_pt" src="./../../../assets/flags/brasil.png"> 
 

 <button class="eng" (click)="english()"></button>
 <h1 class="h1_eng">Inglês</h1>
 <img class="img_eng" src="./../../../assets/flags/usa.png"> 


 <button class="esp" (click)="espanhol()"></button>
 <h1 class="h1_esp">Espanhol</h1>
 <img class="img_esp" src="./../../../assets/flags/spain.png"> 


</div>