
.Components_Botao{

    
p{

position: absolute;
width: 791px;
height: 76px;
left: 325px;
top: 168px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 160%;
/* or 38px */

text-align: center;

color: #FFFFFF;
}
.pt{

    position: absolute;
    width: 133px;
    height: 51px;
    left: 470px;
    top: 821px;
    
    /* Dark/surface-secondary */
    
    background: #27272A;
    border-radius: 8px;
}
.h1_pt{

    position: absolute;
    width: 81px;
    height: 26px;
    left: 510px;
    top: 834px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    /* identical to box height, or 26px */
    
    
    color: #EDEDED;

}
.img_pt{

    position: absolute;
    width: 20px;
    height: 20px;
    left: 482px;
    top: 837px;
}

.eng{

    position: absolute;
    width: 133px;
    height: 51px;
    left: 653px;
    top: 821px;
    
    /* Dark/surface-secondary */
    
    background: #27272A;
    border-radius: 8px;

    
}
.h1_eng{

    position: absolute;
    width: 47px;
    height: 26px;
    left: 710px;
    top: 834px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    /* identical to box height, or 26px */
    
    
    color: #EDEDED;


}
 .img_eng{

    position: absolute;
    width: 20px;
    height: 20px;
    left: 682px;
    top: 837px;
    


 }

.esp{
    position: absolute;
    width: 133px;
    height: 51px;
    left: 836px;
    top: 821px;
    
    /* Dark/surface-secondary */
    
    background: #27272A;
    border-radius: 8px;

}
.h1_esp{

    position: absolute;
    width: 72px;
    height: 26px;
    left: 881px;
    top: 834px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    /* identical to box height, or 26px */
    
    
    color: #EDEDED;

}
.img_esp{

    position: absolute;
    width: 20px;
    height: 20px;
    left: 853px;
    top: 837px;
    
   


}

}




















