
<!-- Div class criada para estilização conforme protótipo  e idioma expecífico
O legal da estilização em SAAS é que não precisamos criar um id ou class para outras tags,
basta utilizar a div class criada de cada idioma e entre colchetes encadear as outras tags dentro dessa principal...-->
<div class="Botao_Portugues">

    <!--Entre colchetes fiz a chamada da variável criada dentro do botao.component.ts-->
    <p>{{traducao}}</p>

    <!--Através da tag button  e do evento click, faço a chamada da função referente ao idioma escolhido "portugues()"-->
    <button (click)="portugues()">
        <div ></div>
        <h1 >Portugues</h1>
        <img  src="./../../../assets/flags/brasil.png">
    </button>
</div>

<!-- Div class criada para estilização conforme protótipo  e idioma expecífico-->
<div class="Botao_english">
    <button (click)="english()">
        <div ></div>
        <h1 >Inglês</h1>
        <img  src="./../../../assets/flags/usa.png">
    </button>
</div>

<!-- Div class criada para estilização conforme protótipo  e idioma expecífico-->
<div class="Botao_Espanhol">

    <button (click)="espanhol()">
        <div ></div>
        <h1 >Espanhol</h1>
        <img  src="./../../../assets/flags/spain.png">
    </button>

</div>