.Principal {



    .tecnologias {

        box-sizing: border-box;

        position: absolute;
        width: 49.5625rem;
        height: 10.8125rem;
        left: 20.25rem;
        top: 19.0625rem;

        background: var(--Rectangle-4234);
        border: 0.0625rem solid var(--borda);
        border-radius: 0.5rem;


    }

    .coluna1 {

        position: absolute;
        width: 9.8125rem;
        height: 8rem;
        left: 23.75rem;
        top: 20.4375rem;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 2rem;

        color: var(--white2);


    }

    .coluna2 {
        position: absolute;
        width: 13.875rem;
        height: 8rem;
        left: 39.6875rem;
        top: 20.4375rem;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 2rem;


        color: var(--white2);
    }

    .coluna3 {

        position: absolute;
        width: 6.625rem;
        height: 4rem;
        left: 59.6875rem;
        top: 20.4375rem;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 2rem;

        color: var(--white2);

    }

}