.Principal{

p{

    position: absolute;
    width: 791px;
    height: 76px;
    left: 325px;
    top: 168px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    /* or 38px */
    
    text-align: center;
    
    color: #FFFFFF;
}

.tecnologias{

    box-sizing: border-box;

position: absolute;
width: 793px;
height: 173px;
left: 324px;
top: 305px;

/* Dark/surface-secondary */

background: #27272A;
border: 1px solid #9D4B00;
border-radius: 8px;


}
.coluna1{

    position: absolute;
width: 157px;
height: 128px;
left: 380px;
top: 327px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 160%;
/* or 32px */


color: #EDEDED;


}



}