<div class="Principal">


    <div class="tecnologias"></div>
    <div class="coluna1">
        <ul>
            <!--Ngfor é uma diretiva Angular que permite percorrer um array, ou qualquer objeto iterável, e 
                exibir cada item do array como elemento na tela-->
            <li *ngFor="let lista1 of lista1 ">{{lista1}} </li>
        </ul>
    </div>

    <div class="coluna2">
        <ul>
            <li *ngFor="let lista2 of lista2 ">{{lista2}} </li>
        </ul>
    </div>

    <div class="coluna3">
        <ul>
            <li *ngFor="let lista3 of lista3 ">{{lista3}} </li>
        </ul>
    </div>


</div>